@import '../../app/styles/global.css';

.customButton {
  background-color: var(--main-accent);
  border:1px solid var(--main-accent);
  border-radius: 100vw;
  color: var(--base-white);
  padding: 20px 44px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
}

.customButton:hover {
  background-color: var(--base-white);
  color: var(--main-accent);
}